@model ASP.NET_RealEstateManagement.Models.EstateAgentDTO
@{
    ViewBag.Title = "AgentDetail";
}
<style>
    .agentDetail_container{
        display:flex;
        justify-content:center;
        margin: 2em 4em;

    }
</style>
<div class="agentDetail_container">
    <h2>AgentDetail</h2>
    <div class="agentDetail_header">
 
    </div>
</div>