@model ASP.NET_RealEstateManagement.Models.PropertyDetailDTO
@{
    ViewBag.Title = "PropertyDetail";
}

<h2>PropertyDetail</h2>
<div class="PropertyDetail_container">

    <div class="image"> @Model.PropertyAddress</div>
    <div class="image"> @Model.PropertyAddress</div>
</div>
    <div> @Model.PropertyAddress</div>